
  @import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Quicksand:wght@500&display=swap');
  *{
    margin: 0px;
    padding: 0px;
    font-family: 'Crimson Text', serif;
  }
  nav{
    background-color:rgb(145, 143, 143);
    height:60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top:0 ;
    z-index: 1;
  }
  nav ul{
    display: flex;
}
nav ul li a{
    display: flex;
    margin: 30px;
    text-decoration: none;
    color: black;
}
nav ul li a:hover{
    color: white;
    text-shadow: 2px 4px 8px black;
}
@import url('https://cdn.theatlantic.com/thumbor/9r5cct78rMUb82MTszKrZd4EydM=/0x0:4800x2700/960x540/media/img/mt/2022/11/Elon_Honest_01/original.jpg');



#home{
  display: flex;
  flex-direction: column;
  height: 500px;


}

#home::before{
  content:"";
  background-image: url('https://cdn.theatlantic.com/thumbor/9r5cct78rMUb82MTszKrZd4EydM=/0x0:4800x2700/960x540/media/img/mt/2022/11/Elon_Honest_01/original.jpg');
height: 900px;
width: 100%;
  background-size: cover;
background-position: center;

}
.overlay{
  position: absolute;
  top: 50%;
  left: 35%;
  color: rgb(245, 235, 235);
  text-shadow: 2px 2px 6px;
}

.main{
  position: absolute;
  border: 2px ridge white;
  padding: 70px;
  top: 200px;
  left: 59%;
  box-shadow: 4px 5px 6px 7px rgb(196, 194, 194);
}
h1{

  text-align:center;
  font-size: xx-large;
  margin: 10px;
}
h1{
  color: white;
}
h1{
  color: white;
}
.pic{
  display:inline-flex;
}
.pic p{
  text-align: center;
  margin: 30px;
}
h1{
  text-align: center;
  color: rgb(246, 237, 237);
  text-decoration:underline;
}
.pic img{
  width: 300px;
  height: 200px;
  border-radius: 0%;

}
 

.gallery{
  margin-top: 200px;

  margin-left: 300px;

}
.gallery img{
  width: 100px;
  height:100px ;
 
  margin:20px;
  transition: width s,height 2s;
}
.gallery img:hover{
  box-shadow: 4px 5px 6px;
  width: 350px;
  height: 250;
}
h1{
  text-align: center;
  color:black;
  font-size: x-large;
}



img{
  margin-left: 100px;
  margin-bottom: 10px;
  margin-top: 50px;
  width: 200px;
  height: 200px;

}
p{
  background-color: rgb(9, 9, 9);
  text-align: center;
  margin-bottom: 200px;
  margin: 100px;
  margin-left:50px ;
  color: beige;
}
.gallery{
  margin-top: 100px;
  margin-left: 200px;
}
.gallery img{
  width: 300px;
  height:200px ;
  margin:20px;
  transition: width 2s,height 3s;
}
.gallery img:hover{
  box-shadow: 4px 5px 6px;
  width: 350px;
  height: 250;
}
#home h1{
  text-align: center;
  color: white;
  font-size: x-large;
}
.row{
  display: flex;

}
.box{
  width: 300px;
  height:400px ;
  margin:20px ;
  border: 2px ridge black;
  background: linear-gradient(to top, rgb(0, 0, 0) 25%, rgb(0, 0, 0) 65%);
  background-size: 100%;
  transition: all 0.8s;
}
.box:hover{
  background-position: left bottom;
  border: none;
  box-shadow: 3px 4px 5px 2px black;
}
.box img{
  width: 100%;
  margin-left: 0%;
 height: 250px;
 margin-top: 0%;

 
 
}
.box h4{
  text-align: center;
  color: black;
}
.box p{
  text-align: justify;
  margin: 20px;
}






.row1{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  

}
img{
  width: 25%;
  height: 25%;
}
ul{
  padding: 60px;
  color: black;
  margin-left: 200px;
  
  
}

#ConnectUs img{
  width: 50px;
  height: 50px;
}



 
@media screen and (max-width:400px){
  *{
    padding: 0px;
    padding: 0px;
      font-family: 'Crimson Text', serif;
  }
  nav{
padding: 0px;
width: 100%;
padding: 0px;

  }
  
  .main{
      padding: 0px;
      margin: 0px;
      top: 110px;
      height: 30px;
     display:inline;
  left: 50px;
  width: 300px;
  }
 
  .row{
      display: flex;
      flex-direction: column;
      width: 250px;
      height: 1800px;
  }
  .pic{
      width: 100%;
      height: 500px;
      display: flex;
      flex-direction: column;
      margin: 0px;
      
  }
  #home{
      display: flex;
      height: 300px;
  }
  #home::before{
      width: 100%;
      height: 500px;
  }
  nav ul li a{
      margin: 0px;
      padding: 5px;
      
  }
  
  .overlay{
      padding: 0px;
      margin: 0px;
      top: 200px;
    bottom: 500px;
  }
  .pic img{
      width:250px;
      height: 160px;
      margin-left: 70px;
  }
   h2{
text-align: center;
margin-top: 400px;
padding: 0px;
  } 
  h3{
      margin: 10px;
  }
  .pic p{
margin: 0px;
text-align: justify;
  }
.gallery{
  margin: 0px;
  margin-left: 45px;
}
.gallery img{
  margin: 0px;
  width: 300px;
height: 200px;
}
.box{
  margin: 0px;
  width: 300px;
  height: 700px;
  margin-left: 40px;
}
.box img{
  width: 100%;
height: 250px;

}
.box p{
  text-align: justify;
  margin: 0px;
}
.box:hover{
  width:310px ;
  height:407px ;
   border: none;
   box-shadow: 2px 4px 5px 6px black;
   background-position: left bottom;
}
#award{
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 250px;
}
ul{
  padding: 0px;
  margin: 0px;
  margin-left: 40px;
}




#ConnectUs img{
  padding: 0px;
  margin: 0px;
}

  
}







